
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6600FF;
}

main {
    height: 500px;
    width: 100%;
}

#form {
    padding: 30px 0px;
}


.textarea {
    background-color: #CCCCFF;
    margin-bottom: 30px;
}

#ymd {
    margin-bottom: 30px;
    margin-left: 30px;
}

.SBD {
    display: flex;
    justify-content: start;
}

.sbd {
    padding-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.maintext {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu {
    width: 150px;
    height: 30px;
}

.weight-wrap {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.weight {
    width: 150px;
    height: 25px;
}


.rep-wrap {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.rep {   
    width: 150px;
    height: 25px;
}

#button {
    margin: auto;
}

.setbutton {
    padding-bottom: 30px;
    text-align: center;
}

.formbutton {
    text-align: center;
}

.save {
    position: relative;
    margin: 60px 60px;
    padding: 60px 30px;
    background-color: #FFFF99;
}

#save {
    position: absolute;
    left: 250px;
}

#clear {
    position: absolute;
    right: 250px;
}