
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6600FF;
}

body {
    height: 100%;
    width: 100%;
}

#form {
    padding: 30px 0px;
}


.textarea {
    background-color: #CCCCFF;
    margin-bottom: 30px;
}

#ymd {
    margin-bottom: 30px;
    margin-left: 30px;
}

.SBD {
    display: flex;
    justify-content: start;
}

.sbd {
    padding-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.maintext {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu {
    width: 150px;
    height: 30px;
}

.weight-wrap {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.weight {
    width: 150px;
    height: 25px;
}


.rep-wrap {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.rep {   
    width: 150px;
    height: 25px;
}

.RM {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.max, .RM1 {
    margin-top: -5px;
}

#button {
    margin: auto;
}

.setbutton {
    padding-bottom: 30px;
    text-align: center;
}

.formbutton {
    text-align: center;
}

.save {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 120px;
    padding: 30px 30px;
    background-color: #FFFF99;
}

footer {
position: fixed;
bottom: 0;
width: 100%;
}

#footer_ul {
    display: flex;
    justify-content: center;
    gap: 10%;
    list-style: none;
    background-color: #CC99FF	;
    margin-top: 30px;
    padding: 30px;

}

