/* レスポンシブデザイン */
body {
    background-color: #FFD5EC;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    color: #9999FF;

}

main {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}

#form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    /* background-color: aqua; */
}

#form2 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
}

#bmi {
    text-align: center;
    margin-top: 60px;
}

#send {
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 50px 0px;
}

#save, #clear {
    list-style: none;
}

#save:hover, #clear:hover {
    text-decoration: underline;
    color: #555555
}

#mychart {
    margin-bottom: 60px;
}

#footer {
}

#footer_ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #9999FF;
    margin-top: 30px;
    padding: 30px;
}
